.container {
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
   }
   
   
   @media screen and (min-width: 768px) {
    .container {
     max-width: 735px;
    }
   }
   
   @media screen and (min-width: 1440px) {
    .container {
     max-width: 1440px;
     padding-left: 15px;
     padding-right: 15px;
    }
   }