.container {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
   }

   @media screen and (min-width: 768px) {
    .container {
     max-width: 735px;
    }
   }
   
   @media screen and (min-width: 1280px) {
    .container {
     max-width: 1280px;
     padding-left: 15px;
     padding-right: 15px;
    }
   }