.about-us {
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;

  max-width: 767px;

  margin: 0 auto;
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../../img/about-us/elements.png);
  background-repeat: no-repeat;
  background-position: bottom-right;
  background-size: cover;
}

.container-about {
    background-color: #1C2225;
width: 1280px;
height: 545px;
align-content: center;
padding-left: 100px;
padding-right: 100px;
display: flex;
}
.aboutus {
    width: 436px;
    height: 454px;
    gap: 40px;
}
.about {
    margin-left: auto;
    font-family: Manrope;
    letter-spacing: 0.3px;
    color: #FCF9F9;
    size: 44px;
    font-weight: 500;
    line-height: 64px;
    padding-bottom: 16px;
}

.text-about-us  {
    margin-left: auto;
    text-align: left;
    font-size: 16px;
  font-style: normal;
  font-family: Manrope;
  font-weight: 400;
  line-height: 21.86px;
  color: #FCF9F966;
  letter-spacing: 0.4px;
  gap: 20px;
  padding-bottom: 16px;
}

.text-aboutus {
    margin-left: auto;
    text-align: left;
    font-size: 16px;
  font-style: normal;
  font-family: Manrope;
  font-weight: 400;
  line-height: 21.86px;
  color: #FCF9F966;
  letter-spacing: 0.4px;
  gap: 20px;
  padding-top: 16px;
}

.about-us-img {
    width: 594px;
    height: 545px;
    border-radius: 4px;
    padding-right: 16px;
    padding-left: 100px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: auto;
}