.footer-end { 
    display: flex;
    width: 100%;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid rgba(252, 249, 249, 0.10);
    width: 100%;
    min-height: 620px;
    background-image: url(/img/images-footer/bg-footer-mobile-min.png);
    background-position: bottom;
    background-repeat:no-repeat;
    background-size:auto;
    margin-left: auto;
    margin-right: auto;

}

.container-footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: left;
    justify-content: stretch;
}


.footer-nav {
    display: flex;
    min-width: 260px;

}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px; 
    row-gap: 22px;
    padding: 0;
    text-align: left;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .footer-list-item {
    flex-basis: calc((100% - 20px) / 2);
    padding: 0;
}
.footer-nav {
    min-width: 260px;

}

}

.footer-list-link {
    color: var(--white, #FCF9F9);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    text-transform: uppercase;

}

.footer-title {
    color: var(--white, #FCF9F9);
    font-family: Manrope, sans-serif;
    justify-content: stretch;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.23; 
    letter-spacing: -0.03em;
    width: 100%;
    margin: 0;


}

.footer-span {
    color: #ECD979;
    font-family: Manrope, sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.23;
    letter-spacing: -0.03em;

}



/*========MOBILE === 375PX====== */
@media screen and (min-width: 375px) and (max-width: 767px) {
    .footer-end { 
    width:375px ;
    min-height: 649px;

}

.container-footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: left;
    justify-content: stretch;
}


.footer-nav {
    display: flex;
    flex-direction: column;
    height: 61px;
    min-width: 260px;

}

 .footer-list {
    column-gap: 40px; 
    row-gap: 25px;
}

    .footer-list-item {
    flex-basis: calc((100% - 40px) / 2);
    }
    .footer-title {
        width: 335px;

    }
}

    

/*========MOBILE === 375PX====== */
/*========TABLET ======== */ 
@media screen and (min-width: 768px) {
.footer-end { 
    display: flex; 
    width: 100%;
    min-height: 370px;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 215px;
    padding-bottom: 40px;
    background-image: url(/img/images-footer/bg-footer-tablet-min.png);
    background-position: right;
    
}
    .container-footer {
        width: 521px;
        min-height: 282px;
        row-gap: 80px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        
    }
    .footer-nav {
    display: inline-flex;
    flex-wrap: nowrap;
    row-gap: 25px;
    height: 18px;
    

}
.footer-list-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

    .footer-list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        column-gap: 25px; 
        
    }

    .footer-title {
        width: 521px;
        height: 192px;
        font-size: 54px;
        line-height: 1.19; 
}

.footer-span {
    font-size: 54px;
    line-height: 1.19; 
}

}

/*=======TABLET======= */ 

/*=======DESKTOP======= */ 
@media screen and (min-width: 1280px) {
    .footer-end { 
    display: flex; 
    min-width:1280px ;
    min-height: 363px;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 425px;
    padding-bottom: 40px;
    background-image: url(/img/images-footer/bg-footer-desktop-min.png);
    background-position: right;
    }

.container-footer {
        row-gap: 80px;
        width: 754px;
        text-align: left;
        row-gap: 117px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-title {
        width: 754px;
        height: 148px;
        font-size: 64px;
        line-height: 1.16; 
}

.footer-span {
    font-size: 64px;
    line-height: 1.16;
}


}

/*=======DESKTOP======= */ 
@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .main-page {
        background-image: url(/img/images-footer/bg-footer-mobile@2x-min.png);
    }
    
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .main-page {
        background-image: url(/img/images-footer/bg-footer-tablet@2x-min.png);
    }
    
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
    .main-page {
        background-image: url(/img/images-footer/bg-footer-desktop@2x-min.png);
    }
    
}