h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  
}

/* MOBILE ADAPTIVE */
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* DESKTOP 1280*/
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* DESKTOP 1440 */
/* @media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
} */

.header-logo-navigation-list {
  display: none;
}

.address-list {
  display: none;
}

.header {
  background-color: #1C2225;
  padding-top: 24px;
  padding-bottom: 4px;
  }

.header-social-icon-item-svg {
  fill: white;
  stroke: white;
  border: none;

}

.header .container {
  display: flex;
  align-items: center;
    
}


.header-social-icon-list {
  display: inline-flex;
  gap: 12px;
  margin-right: 12px;
  align-items: center;

}

.header-icon-svg {
  fill: yellow;
  }

.header-logo {
  margin-right: 87px;
}

.header-social-icon-item-link {
  border: 1px solid #FCF9F91A;
  border-radius: 15px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(252, 249, 249, 0.1);
  transition: background-color border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social-icon-item-link:hover,
.header-social-icon-item-link:focus {
  background-color: black;
  border-color: yellow;
}

.open-mobile-menu-btn-small {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  padding: 0;
  width: 36px;
  height: 24px;
  cursor: pointer;
  background-color: rgba(28, 34, 37, 1);
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.open-mobile-menu-icon-small {
  stroke: yellow;
  background-color: black;

}

.open-mobile-menu-btn-big {
  display: none;
}


@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 440px;
  }

  .header-social-icon-list {
    margin-right: 20px;
  }

  .open-mobile-menu-btn-small {
    display: none;
  }

  .open-mobile-menu-btn-big {
    display: flex;
    width: 44px;
    height: 30px;
    justify-content: center;
    align-items: center;
    line-height: 0;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: rgba(28, 34, 37, 1);
  }

  .open-mobile-menu-icon-big {
    stroke: yellow;
    background-color: black;

  }
}

@media screen and (min-width: 1280px) {
  .header-logo-navigation-list {
    display: flex;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(252, 249, 249, 1);
    text-transform: uppercase;
    gap: 25px;
    margin-right: 129px;
      }

.header-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: yellow;
}

  .header-logo {
    margin-right: 60px;
  }

  .address-list {
    display: flex;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-right: 20px;
    color: rgba(252, 249, 249, 1);
    font-style: normal;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

.address-list:hover,
.address-list:focus {
  border-color: yellow;
}


  .open-mobile-menu-btn-big {
    display: none;
  }

  .header-social-icon-list {
    margin-right: 0;
  }

}