/* =============== MOBILE ===============*/

.order-section {
    background-color: #1C2225;;
    padding-top: 40px;
    padding-bottom: 40px;
}

.order-banner {
    width: 100%;
    min-height: 550px;
    margin-bottom: 80px;

    background-image: url(/img/your-order/order-banner-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 320px) {
  .order-banner {
    background-image: url(/img/your-order/order-banner-mob@x2.jpg);
  }
}

.order-thumb {
    display: none;
}

.order-header {
    margin-bottom: 40px;

    color: #FCF9F9;

    font-family: Manrope;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.37; 
    letter-spacing: -0.03em;
}

.order-header-accent {
    color: #ECD979;
}

.order-form {
    display: flex;
    flex-direction: column;
}

.order-form-container {
    width: 100%;
}

.order-form-input {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 26px;

    background-color: transparent;
    outline: transparent;

    color: rgba(252, 249, 249, 0.50);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.02em;

    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
}

.order-form-input:hover,
.order-form-input:focus {
    border-color: rgba(252, 249, 249, 0.6);
}

.order-form-comment-wraper {
    width: 100%;
}

.order-form-comment {
    width: 100%;
    min-height: 196px;
    margin-bottom: 40px;
    padding: 14px 16px;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;

    background-color: transparent;
    outline: transparent;

    color: rgba(252, 249, 249, 0.50);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.02em;

    border-radius: 8px;
    border: 1px solid rgba(252, 249, 249, 0.10);
}

.order-form-comment:hover,
.order-form-comment:focus {
    border-color: rgba(252, 249, 249, 0.6);
}

.order-form-button {
    display: flex;
    margin: 0 auto;
    max-width: 145px;
    height: 45px;
    padding: 14px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: transparent;
    outline: transparent;

    color: #FCF9F9;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
}

.order-form-button:hover,
.order-form-button:focus {
  border-color: #ECD979;
}

/* =============== TABLET ===============*/


@media screen and (min-width: 768px) {

    .order-container {
        padding-left: 32px;
        padding-right: 32px;
        margin-left: 0;
        margin-right: 0;
    }

    .order-section {
        padding-top: 50px;
        padding-bottom: 50px;

        background-image: url(/img/your-order/ornament.png);
        background-repeat: no-repeat;
        background-position: bottom 0px left 0px;
    }

    .order-banner {
        width: 100%;
        min-height: 776px;
        margin-bottom: 100px;

        background-image: url(/img/your-order/order-banner-tab.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
        .order-banner {
            background-image: url(/img/your-order/order-banner-tab@x2.jpg);
        }
    }

    .order-form-wraper {
        display: flex;
        flex-direction: column;
    }

    .order-thumb {
        display: block;
        box-sizing: border-box;
        order: 3;
    }

    .order-img {
        width: 638px;
        height: 521px;

        border-radius: 4px;
        transform: translate(65px, 0px);
    }

    .order-header {
        margin-bottom: 40px;
        max-width: 542px;
    
        color: #FCF9F9;
    
        font-family: Manrope;
        font-size: 44px;
        font-weight: 500;
        line-height: 1.32; 
        letter-spacing: -0.03em;
    }

    .order-form {
        display: flex;
        flex-direction: column;

    }
    
    .order-form-container {
        max-width: 508px;
    }

    .order-form-iput {
        padding: 14px 16px;
        margin-bottom: 20px;
    
        background-color: transparent;
    
        font-size: 16px;
    }

    .order-form-comment {
        width: 100%;
        width: 508px;

        font-size: 16px;
    }
    
    .order-form-button {
        max-width: 168px;
        height: 50px;
        margin: 0 0;
        font-size: 16px;
        margin-bottom: 100px;
    }
}


/* =============== DESKTOP ===============*/

@media screen and (min-width: 1280px) {

    .order-container {
        padding-left: 100px;
        padding-right: 100px;
        margin-left: 0;
        margin-right: 0;
    }

    .order-section {
        padding-top: 75px;
        padding-bottom: 75px;

        background-position: bottom 75px left 0px;
    }    

    .order-banner {
        width: 100%;
        min-height: 776px;
        margin-bottom: 150px;

        background-image: url(/img/your-order/order-banner-desk.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @media screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
        .order-banner {
            background-image: url(/img/your-order/order-banner-desk@x2.jpg);
        }
    }

    .order-form-wraper {
        flex-direction: row;
    }

    .order-thumb {
        order: 0;
    }

    .order-img {
        width: 524px;
        height: 521px;
        max-width: none;
        
        transform: translate(0px, 0px);
    }

    .form-wraper {
        margin-left: 50px;
    }

    .order-form-button {
        margin-bottom: 0;
    }
}