<footer>
    <div class="footer-block">
        <div class="container-footer">
            <div class="footer-nav">
                <ul class="footer-list list">
                    <li class="footer-list-item"><a class="footer-list-link link" href="#aboutus-title">about us</a></li>
                    <li class="footer-list-item"><a class="footer-list-link link" href="#collection">our collection</a></li>
                    <li class="footer-list-item"><a class="footer-list-link link" href="#order-section">customer order</a></li>
                    <li class="footer-list-item"><a class="footer-list-link link" href="#testimonials">testimonials</a></li>
                </ul>
            </div> 
            <h2 class="footer-title">A touch of <span class="footer-span">Ukrainian</span> culture in every embroidery</h2>
        </div>
        <div class="footer-end"></div>
    </div>
</footer>

