<header class="header">
  <!--Navigation-->
  <div class="container">

    <!--Logo-->
    <a class="header-logo" href="./index.html">
      <svg class="header-icon-svg" width="44" height="39" aria-label="mainlogo">
        <use href="./img/icons.svg#icon-logo-1"></use>
      </svg>
    </a>

    <!-- <img src="../Tutorial/images/logo (1).svg" alt="mainlogo" width="44" height="39" /> -->

    <nav class="header-logo-navigation">
      <ul class="header-logo-navigation-list">
        <li><a class="header-link" href="#about-us">about us</a></li>
        <li><a class="header-link" href="#our-collection">our collection</a></li>
        <li><a class="header-link" href="#customer-order">customer order</a></li>
        <li><a class="header-link" href="#testimonials">testimonials</a></li>
      </ul>
    </nav>

    <!--Contacts-->
    <address class="address-list">
      <a class="address" href="tel:+380684439426">+380 (68) 443-94-26</a>
    </address>

    <!-- Social -->
    <ul class="header-social-icon-list">
      <li class="header-social-icon-item">
        <a href="#" class="header-social-icon-item-link">
          <svg class="header-social-icon-item-svg" width="28" height="28" aria-label="instagram">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-icon-item">
        <a href="#" class="header-social-icon-item-link">
          <svg class="header-social-icon-item-svg" width="28" height="28" aria-label="twitter">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-icon-item">
        <a href="#" class="header-social-icon-item-link">
          <svg class="header-social-icon-item-svg" width="28" height="28" aria-label="facebook">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <!-- Burger small-->
    <button class="open-mobile-menu-btn-small" type="button">
      <svg class="open-mobile-menu-icon-small" width="36" height="24" aria-label="mobile menu open icon">
        <use href="./img/icons.svg#icon-burger" />
      </svg>

    </button>
    <!-- Burger big-->
    <button class="open-mobile-menu-btn-big" type="button">
      <svg class="open-mobile-menu-icon-big" width="44" height="30" aria-label="mobile menu open icon">
        <use href="./img/icons.svg#icon-burger" />
      </svg>

    </button>
  </div>
</header>

<!-- Mobile menu -->

<div class="mobile-menu">

  <div class="mobile-menu-tel-close">
    <address class="mobile-menu-address-list">
      <a class="mobile-menu-address" href="tel:+380684439426">+380 (68) 443-94-26</a>
    </address>

    <button type="button" class="close-btn-mobile-menu">
      <svg class="close-btn-icon" width="36" height="36" aria-label="modal icon close">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

  </div>

  <nav class="mobile-menu-navigation">
    <ul class="mobile-menu-navigation-list">
      <li><a class="mobile-menu-link" href="#about-us">about us</a></li>
      <li><a class="mobile-menu-link" href="#our-collection">our collection</a></li>
      <li><a class="mobile-menu-link" href="#customer-order">customer order</a></li>
      <li><a class="mobile-menu-link" href="#testimonials">testimonials</a></li>
    </ul>
  </nav>


</div>