<section class="hero">
    <div class="hero-container">
        <div class="hero-order-form">
            <p class="hero-text">Reviving the traditional <span class="hero-text-span">Ukrainian</span> artistry in every stitch.</p>
            <button class="hero-order-button" type="button">
                Order
                <svg width="26" height="10" aria-label="order cursor">
                    <use href="./img/hero-icons.svg#icon-cursor"></use>
                </svg>
            </button>
            </div>
    <img class="vyshyvanka-image"
    srcset="
    ./img/hero-img/girl-mobile.jpg 335w,
    ./img/hero-img/girl@2x-mobile.jpg 670w,
    ./img/hero-img/girl-desktop.jpg 392w,
    ./img/hero-img/girl@2x-desktop.jpg 784w, 
    ./img/hero-img/girl-tablet.jpg 413w,
    ./img/hero-img/girl@2x-tablet.jpg 826w
    "
    sizes="(min-width: 1440px) 392px, 
    (min-width: 1280px) 392px, 
    (min-width: 768px) 413px,
    (max-width: 767px) 335px"

    src="./img/hero-img/girl-mobile.jpg"
    alt="girl hero image"
    />
    </div>
    <div class="hero-star-wrapper">
        <svg class="hero-star-icon" width="52" height="51" aria-label="hero star">
            <use href="./img/hero-icons.svg#icon-star"></use>
        </svg>
        <p class="hero-star-text">all embroidery is made by hand</p>
    </div>
    <img 
    class="vyshyvanka-hero"
    srcset="./img/hero-img/vyshyvanka@2x.jpg 2x"
    src="./img/hero-img/vyshyvanka.jpg"
    alt="vyshyvanka hero"
    />
</section>

<!-- TABLET MENU -->

    <div class="tablet-menu">
        <address class="address-tel">
            <a class="tel-tablet-menu" href="tel:+380684439426">+380 (68) 443-94-26</a>
        </address>
        <svg class="close-tablet-btn" width="44" height="44" aria-label="tablet close button">
            <use href="./img/hero-icons.svg#icon-tablet-close-btn"></use>
        </svg>
        <nav>
            <ul class="tablet-list">
                <li>
                    <a class="tablet-list-item" href="">About us</a>
                </li>
                <li>
                    <a class="tablet-list-item" href="">Our collection</a>
                </li>
                <li>
                    <a class="tablet-list-item" href="">CUSTOMER ORDER</a>
                </li>
                <li>
                    <a class="tablet-list-item" href="">Testimonials</a>
                </li>
            </ul>
        </nav>
        <div class="tablet-menu-pattern-container">
        <svg class="tablet-menu-pattern" width="544.27" height="483.461">
            <use href="./img/hero-icons.svg#icon-elements"></use>
        </svg>
        </div>
    </div>
    